body {
  background-color: #8e44ad;
  color: #333333;
}

#quote-box {
  margin-top: 8%;
  text-align: center;
  background-color: #ecf0f1;
  border-radius: 5px;
}

#quote {
  padding: 15px;
}

#author {
  padding-bottom: 10px;
}

#quote-button {
  float: left;
  margin-bottom: 2%;
  background-color: #9b59b6;
  color: #ecf0f1;
}

#tweet {
  float: right;
  margin-top: 8%;
}

footer {
  color: #ecf0f1;

}

footer h5 {
  padding-left: 30px;
}

@media only screen and (max-width: 750px) {
  #quote-box {
    margin-top: 20%;
    margin-left: 3%;
    margin-right: 3%;
  }


